* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  /* border: none; */
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 280px;
}

.movie:focus {
  outline: 0;
}

.movie img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  text-align: start;
  color: #12142c;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

header {
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  /* justify-content:space-around; */
}

.search {
  background-color: transparent;
  border: 2px solid #12142c;
  color: white;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
}

.search:focus {
  outline: 0;
}

.homeMovies {
  background-color: #12142c;
  border: 3px solid #373b69;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.homeMovies:focus {
  outline: 0;
}

.signIn {
  background-color: transparent;
  border: 3px solid #373b69;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.signIn:focus {
  outline: 0;
}

/* .signIn:hover{
  filter: brightness(400);
} */

.tag {
  background-color: #12142c;
  border-radius: 5px;
  font-size: bold;
  padding: 0.5rem;
}

.tag.green {
  color: lightgreen;
}

.tag.yellow {
  color: yellow;
}

.tag.red {
  color: red;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #12142c;
}

.login label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.login .loginContainer .btnContainer button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #4756fc;
  cursor: pointer;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
  display: flex;
}

.closebutton {
  border: 3px solid #4756fc;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #4756fc;
  text-align: center;
  cursor: pointer;
  font: bolder;
}

.closebutton:focus {
  outline: 0;
}

.closebuttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.closebutton:hover {
  color: red;
}

.voteButton{
  background-color: #12142c;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.voteButton:focus {
  outline: 0;
}

.exploreMovie{
  background-color: #12142c;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.rating {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.rating .ratingContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  background-color: #12142c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ratingClosebutton {
  border: 3px solid #4756fc;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #4756fc;
  text-align: center;
  cursor: pointer;
  font: bolder;
}

.ratingClosebutton:focus {
  outline: 0;
}

.ratingClosebuttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ratingClosebutton:hover {
  color: red;
}

.rateThis {
    color: rgb(142, 142, 233);
    margin: 14px 0;
    display: block;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rating .rateBtnContainer {
  width: 100%;
  margin: 0;
  padding: 0px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating .rateBtnContainer li{
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0;
  margin: 0.5em;
  padding: 0.5em;
}


.rating .rateBtnContainer button {
  border: none;
  outline: none;
  width: 80%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #4756fc;
  cursor: pointer;
}

.rating input[type="radio"] {
  display: none;
}

.rating .starRating{
  cursor: pointer;
}

.rating .review{
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}


.movieById {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 280px;
}

.movieByIdInfo {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 620px;
}

.movieById:focus {
  outline: 0;
}

.movieById img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.movieByIdContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieByIdContainer li{
  list-style-type: none;
  padding : 0.5rem;
}

.movieByIdContainer .overview{
  font-size: 40px;
  font-family:fantasy;
}

.movieByIdContainer .date{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.spaceBetweenText{
  word-spacing: 30px;
}

.bigStar {
  color:yellow;
  display: flex;
  margin-left: 38.5%; 
}

.moviesByIdRate{
  background-color: #373b69;
  border: none;
  cursor: pointer;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.moviesByIdRate:focus {
  outline: 0;
}

.remoteRating{
  background-color: #12142c;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  justify-content: center;
  width: 100%;
  padding:  5px 0;
}

.remoteRating:hover {
  color: red;
}

.reviewsTable {
  padding: 0.2rem;
  padding-left: 1rem;
}

.reviewOverviewText:hover{
  cursor: pointer;
  color: red;
}

.rating2 {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.rating2 .ratingContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  background-color: #12142c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.ul{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.ol{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width:640px){
  .homeMovies {
    font-size: .8rem;
    padding: 0;
    background-color: transparent;
  }

  .search {
    font-size: 0.7rem;
    padding: 0;
    border-radius: 30px;
  }

  .signIn {
    font-size: .8rem;
    padding: 0;
  }

  header {
    justify-content:space-evenly;
  }
  
  .bigStar {
    margin-left: 32%; 
  }
  
}